/*Start*/
.container{
	width: 1170px;
	margin:0 auto;
}
.logo{
	width: 100px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-ul{
   display: flex;
}
/**/
.navigation-li{
	margin-right:30px;
}
.navigation-li:last-child{
	margin-right:0;
}
.social-ul{
	display: flex;
}
.bg p{
	color: #fff;
}
.social{
	height: 30px;
}
.social-li:after{
   content: '';
   height: 30px;
   width: 2px;
   background-color: #3D58A6;
   display: inline-block;
   margin:0 15px;
   vertical-align: top;
}
.fa-facebook-f,
.fa-google-plus-g{
	font-size: 30px;
    color: red;
}
iframe{
	margin-left:30px;
}
.bg{
	background-image: url(../img/image.jpg);
	width: 1170px;
	height: 500px;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: right center;
}

/*
.fa-facebook-f{
	font-size: 30px;
    color: red;
    background-color: grey;
}
.fa-google-plus-g{
	font-size: 30px;
    color: red;
}*/
.social-li:last-child:after{
	display: none;
}


.grey-bg{
	background-color: #E6E6E6;
	padding: 35px 0 30px 0;
}
.shvili{
	background-color: #F2F2F2;
}
.shvilishvili{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.shvilishvili p{
	width: 340px;
}
.read{
	display: flex;
	justify-content: flex-end;
	margin:0 5px 15px 0;
}